/*
Colors used:
Primary Color (Pigment Blue): #333399;
Secondary Color (Bdazzled Blue): #336699;
Accent Color (Deep Saffron): #FF9933;
Background Color (White): #FFFFFF;
Text color (Charcoal)   #3D4D4A
*/

img {
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
  margin: 10px;
  font-family: "Lexend", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #3d4d4a;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}
h2 {
  font-size: 2.25em;
  font-weight: 700;
}
h3 {
  font-size: 1.75em;
  font-weight: 700;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

.button {
  display: inline-block;
  background-color: #ff9933;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #3d4d4a;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background: transparent;
  color: #336699;
  text-transform: uppercase;
  border: 2px solid #336699;
}

.button.contact:hover {
  background: #336699;
  color: #3d4d4a;
}

/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25 px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #336699;
}

.center {
  text-align: center;
}

.logo {
  max-width: 250px;
}

nav > ul > li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 8px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #3d4d4a;
}

nav > ul > li > a:hover {
  transition: 0.3s;
  background: #336699;
}

#hero {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 133px;
}
